/*****************************  DropDowns  ************************************/
.hint {
  padding: 10px;
}
.hint>h5{
  margin-bottom: 10px;
  font-weight: bold;
}
.glyphicon-question-sign{
  font-size: 16px;
}
#dailyCal{
  color: #428bca;
}
.info-block{
  font-size: 1.4em;
  opacity: 0.5;
  text-align: center;
}

div.dropdown-menu p{
  text-align: justify;
}

/**************Desktop****************/
@media (min-width: 900px) { 
  .info-block{
    text-align: right;
  }
  #bmr-tdee-block, #output-block{
    height: 35vh;
  }
  #control-block{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

#output-block{
  height: 35vh;
}

@media (max-width: 900px){
  #dailyCal{
    font-size: 3.5em;
  }
  div.calories-result div.dropdown h3{
    font-size: 2.5em;
  }
  div.macros-result div.dropdown h4,
  div.dropdown-menu h5{
    font-size: 2em;
  }
  div.dropdown-menu p,
  div.macros-result p{
    font-size: 1.5em;
  }
}

