/*****************************  DropDowns  ************************************/
.hint {
  padding: 10px;
}
.hint>h5{
  margin-bottom: 10px;
  font-weight: bold;
}
.glyphicon-question-sign{
  font-size: 16px;
}
<<<<<<< HEAD

#dailyCal{
  color: #428bca;
}
=======
>>>>>>> 425c7abae2775646c8562beb52de8e41b56001c1
