.glyphicon{
    font-size: 1.4em;
}
.dropdown-toggle{
    padding: 10px 15px 20px;
}
#logout{
    cursor: pointer;
}

.navbar-default .navbar-nav>.open>a{
    background-color: transparent;
}

ul.dropdown-menu li{
    text-align: right;
    padding-right: 15px;
}