a.btn{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

img#logo{
    width: 100%;
}
#btn-box{
    margin-top: 100px;
}

.content p{
    text-align: center;
    padding-top: 20px;
    font-size: 1.2em;
    font-weight: lighter;
}