<div class="row">
  <div class="col-md-6 col-md-push-6">
    <app-entry-output [inputFormValues]="formValues"></app-entry-output>
  </div>
  <div class="col-md-6 col-md-pull-6">
    <app-entry-input (formEmitter)="onSubmit($event)" (entryTitle)="setEntryTitle($event)" (statusEmitter)="setStatus($event)"></app-entry-input>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="btn-group" role="group">
      <button type="button" name="calculate" class="btn btn-primary" (click)="onCalculate()" [disabled]="!formValid">Calculate</button>
      <button type="button" name="clear" class="btn btn-default" (click)="onClear()">Clear</button>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="btn-group pull-right" role="group" *ngIf="loggedIn; else solo">
      <button class="btn btn-primary" type="button" (click)="onSave()" >Save</button>
      <button class="btn btn-default" type="button" (click)="onDelete()" [disabled]="isNewEntry">Delete</button>
      <button class="btn btn-default" type="button" (click)="onBack()" >
        <span class="glyphicon glyphicon-chevron-left"></span>Back</button>
    </div>
    <ng-template #solo>
      <a class="btn btn-default pull-right" role="button" routerLink="/">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back
      </a>
    </ng-template>
  </div>
</div>
