
a{
  text-decoration: none;
  color:#777;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#plus-box{
  min-height: 132px;
  max-width: 255px;
  background-image: url('../../assets/img/plus.png');
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}
#headline{
  padding-bottom: 50px;
}
.panel-entries{
  max-width: 255px;
}
