
a{
  text-decoration: none;
  color:#777;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#plus-box{
  background-image: url('../../assets/img/plus.png');
  background-size: 22%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}


#headline{
  padding-bottom: 50px;
}
#help-block{
  text-align: center;
  opacity: 0.5;
  margin-top: 2em;
  font-size: 2em;
}

.panel{
  min-height: 200px;
}

.panel-info{
  font-size: 1.5em;
}

/****************** MEDIA QUERIES *********************/
@media (min-width: 600px){
  .panel{
    min-height: 132px !important;
    max-width: 255px;
  }
  .panel-info{
    font-size: 1em !important;
  }

  #plus-box{
    background-size: 30%;
  }
  #help-block{
    font-size: 36px;
  }
}
